/* Background Colour */
body {
	background-color: var(--grey-20)!important;
}

/* Justify input alignment */
.flexLabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Numerical Input Boxes */
.sizeInput {
	max-width: 5em;
}

/* Preview Styling */
#previewContainer {
	height: 600px;
}
#previewContainer iframe {
	width: 100%;
	height: 100%;
	border: 1px solid transparent;
	border-radius: 2px;
}

#previewContainer iframe:hover {
	border-color: var(--grey-40);
}

html {
	--inputBorderFocus: var(--blue-50);
	--primaryColorButtonBackground: var(--blue-60);
	--primaryColorButtonBackgroundBusy: var(-blue-70);
	--primaryColorButtonColor: var(--white-100);
	--primaryColorButtonColorHover: var(--white-100);
}