/* These ones are for the anchors. */
h2 {
	position: relative;
}

h2:hover {
	cursor:pointer;
}

h2[id]::before {
	content: '# ';
	opacity: 0.4;
	transition: opacity 0.2s;
}
h2.auto-scrolled[id]::before {
	opacity: 1;
}


h2[id]:hover::after {
	overflow: hidden;
	
	display: inline-flex;
	position: absolute;
	right: 0;
	margin: 6px 0;
	
	animation: appear 0.5s ease-in;
	--hover-opacity: 0.4;
	
	word-break: break-word;
	white-space: break-spaces;
	text-overflow: clip;
	
	
	font-size: 15px;
	font-weight: 400;
}
h2[id]:hover::after{
	content: 'Set auto-scroll';
	opacity: 0.4;
}
h2.auto-scrolled[id]:hover::after{
	content: 'Unset auto-scroll';
}
h2.auto-scrolled[id] {
	animation-name: flash;
	animation-duration: 4.5s;
	animation-fill-mode: both;
	animation-iteration-count: 1;
}
@keyframes flash {
	0%, 50%, 100% {
		opacity: 1;
	}
	25%, 75% {
		opacity: var(--hover-opacity);
	}
}
@keyframes appear {
	0%, 50% {
		opacity: 0;
	}
	100% {
		opacity: var(--hover-opacity);
	}
}

ol > li:first-child {
	margin-top: 0;
}


/* New CSS Starts Here */

html {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

html::-webkit-scrollbar {
	display: none;
}

body {
	padding: 8px 12px 0
}

/* Strip characters of any defined background-color, useful for some Chinese characters. */
body *:not(button):not(a) {
	background-color: unset !important;
}

/* Header */ 

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

h3 {
	margin: 0
}

/* ---- Definition Title & Search Bar */
#searchInput {
  font-size: 36px;
  font-weight: 200;
  margin: 0 0 8px 0;
  border-radius: 0px;
  padding: 0 32px 4px 0;
  height: auto;
  width: 100%;
  border: none;
}

/* ---- External Link to Wiktionary.org */
#externalLink {
	min-width: 32px;
	width: 32px;
	height: 32px;
	background: var(--grey-90-a10) url(../icons/externalLink.svg) no-repeat center/16px;
	margin: 0 0 0 12px;
	padding: 0;
}

/* Languages Slider */
.slider-wrapper {
	padding: 0 0 8px;
}

.slider {
	margin: 8px 0 0;
	padding: 0 12px;
	overflow-y: auto;
	max-height: 500px; /* approximate max height */
	transition-property: height margin padding;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.slider.closed {
	display:block;
	max-height: 0;
	border: none;
	padding: 0 12px;
	margin: 0;
}
.slider h4 {
	margin-top: 0.5em;
	margin-bottom: 0;
	border-bottom: 1px dotted rgba(128, 128, 128, 0.35); /* transparent grey */
	width: 95%;
}

.slider h4:first-child {
	margin-top: 0.3em;
}

/* Footer */
footer {
	padding: 0 0 8px;
	line-height: 1em;
}