// Colour
body * {
	transition-property: color, background-color, border-color;
	transition-duration: 150ms;
	transition-timing-function: ease-in-out;
}
body {
	background-color: var(--background-colour);
	color: var(--text-colour);

	font-family: var(--font-family);
}
a {
	color: var(--link-colour);
	text-decoration: var(--font-link-decoration);
	&:hover {
		color: var(--link-colour-hover);
	}
	&:active {
		color: var(--link-colour-active);
	}
}

// Design & colour
@mixin colourButton($type) {
	background-color: var(--button-#{$type});
	color: var(--button-#{$type}-text);
	&:hover {
		background-color: var(--button-#{$type}-hover);
	}
	&:active {
		background-color: var(--button-#{$type}-active);
	}
}
.button {
	display: inline-block;
	border-radius: 4px;

	transition-duration: 200ms;

	&:hover {
		cursor: pointer;
	}

	&.square {
		height: 32px;
		border: none;
		min-width: 32px;
	}
	&.rectangle {
		padding: 10px;
	}

	&.image {
		background-size: 20px;
		background-repeat: no-repeat;
		background-position: center;
	}
	&.primary {
		@include colourButton($type: primary);
	}
	&.secondary {
		@include colourButton($type: secondary);
	}
}
