[submodule "webext-options"]
	path = src/options/webextensions-lib-options
	url = https://github.com/piroor/webextensions-lib-options
[submodule "webext-config"]
	path = src/options/webextensions-lib-configs
	url = https://github.com/piroor/webextensions-lib-configs
