[submodule "src/scripts/webextensions-lib-options"]
	path = src/scripts/webextensions-lib-options
	url = https://github.com/piroor/webextensions-lib-options
[submodule "src/scripts/webextensions-lib-configs"]
	path = src/scripts/webextensions-lib-configs
	url = https://github.com/piroor/webextensions-lib-configs
