/* Light Mode */
body {
  background: var(--grey-10);
  color:var(--grey-90);
}
a:any-link {
  color: var(--blue-60);
  text-decoration: none;
}
a:any-link:hover {
  color: var(--blue-60);
  text-decoration: underline;
}
a:any-link:active {
	color: var(--blue-70);
	text-decoration: underline;
}
a:any-link:focus {
	border-radius: 2px;
	box-shadow: 0 0 0 2px #0a84ff, 0 0 0 6px rgba(10, 132, 255, 0.3);
}

/* Search Input */
input[type=search] {
	background: url(../../icons/searchLight.svg) no-repeat 4px center/16px;
	color: var(--grey-90);
}
input[type="search"]:placeholder {
  color:var(--grey-50)
}