/* Light Mode */
body {
  background: var(--grey-10);
  color:var(--grey-90);
}
a:any-link {
  color: var(--blue-60);
  text-decoration: none;
}
a:any-link:hover {
  color: var(--blue-60);
  text-decoration: underline;
}
a:any-link:active {
	color: var(--blue-70);
	text-decoration: underline;
}
a:any-link:focus {
	border-radius: 2px;
	box-shadow: 0 0 0 2px #0a84ff, 0 0 0 6px rgba(10, 132, 255, 0.3);
}

/* Input Colors */
input[type="text"],
input[type="number"],
input[type="search"],
input[type="url"] {
	border-color: var(--grey-90-a20);
}
/* ---- Search Input */
#searchInput {
	background: url(../../icons/searchLight.svg) no-repeat calc(100% - 4px) center/20px;
	border-bottom: 2px solid var(--grey-90);
	color: var(--grey-90);
}
#searchInput:hover {
  border-color:var(--grey-50)
}
#searchInput::placeholder {
  color:var(--white-90);
	opacity: 1;
}