/* Global Stylesheet */
/* This stylesheet attempts to match Firefox' design guidelines */

/* Text and Layout */

body {
	box-sizing: border-box!important;
	margin: 0;
	padding: 8px 12px;
  font-family: "Segoe UI", "San Francisco", "Ubuntu", "Fira Sans", "Roboto";
  font-size: 15px;
  font-weight: 400;
  max-width: 45em;
}

*,
*:before,
*:after {
	box-sizing: border-box!important;
}

/* ---- Headers */
h1 {
  font-size: 36px;
  font-weight: 200;
}

h2 {
  font-size: 22px;
  font-weight: 300;
}

h3 {
  font-size: 17px;
  font-weight: 600;
}

h4 {
  font-size: 15px;
  font-weight: 400;
}

small,
h5 {
  font-size: 13px;
  font-weight: 400;
}

h6 {
  font-size: 11px;
  font-weight: 400;
}

/* Components */

/* ---- Lists */
ol > li {
	margin: 0 0 1rem;
}

/* ---- Buttons */

/* -------- Micro Button */
.micro-button {
  border-radius: 2px;
  border: none;
  height: 24px;
  width: auto;
  padding: 0 8px;
  font-size: 11px;
  font-weight: 400;
  text-align:center;
}

/* -------- Large Button */
.default-button {
  border-radius: 2px;
  border: none;
  height:32px;
  width: auto;
  min-width: 132px;
  padding: 0 8px;
  font-weight: 400;
  font-size: 13px;
  text-align:center;
}
/* -------- Button Colours */

/* ------------ Primary */
.primary-color-button {
  background:var(--blue-60);
  color:var(--white-100);
}
.primary-color-button:hover {
  background-color:var(--blue-70)
}
.primary-color-button:active {
  background-color:var(--blue-70)
}
.primary-color-button:focus {
  box-shadow: 0 0 0 1px #0a84ff inset, 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3);
}
.primary-color-button:disabled {
  opacity: 40%;
}

/* ------------ Default */
.default-color-button {
  background-color:var(--grey-90-a10);
  color: var(--grey-90);
}
.default-color-button:hover {
  background-color: var(--grey-90-a20);
}
.default-color-button:active {
  background-color: var(--grey-90-a30);
}
.default-color-button:focus {
  box-shadow: 0 0 0 1px #0a84ff inset, 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3);
}
.default-color-button:disabled {
  opacity: 40%;
}

/* ---- Alphabetical and Numerical Input Fields */
input[type="text"],
input[type="number"],
input[type="search"],
input[type="url"] {
  border-radius: 2px;
  padding: 0 8px;
  width: auto;
  height: 32px;
  margin: 4px 8px 4px 4px;
  border: 1px solid var(--white-100);
  cursor: auto;
}
input[type="text"]:hover,
input[type="number"]:hover,
input[type="search"]:hover,
input[type="url"]:hover {
  border-color:var(--grey-90-a30)
}
input[type="text"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="url"]:focus {
  border-color:var(--blue-50)!important;
  outline: 0;
}

/* ---- Checkboxes */
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
	display: inline-block;
	margin: 4px 0;
}
input[type="checkbox"] + label:before {
	display: inline-block;
	content: "";
	
	height: 16px;
	width: 16px;
	border: 1px solid var(--grey-90-a30);
	border-radius: 2px;
	margin: 0 4px -3px;
	background: var(--grey-90-a10);
}
input[type="checkbox"]:checked + label:before {
	background: var(--blue-60) url(../icons/checkboxCheck.svg) no-repeat center/16px;
	border: none;
}

/* Radio Buttons */
input[type="radio"] {
    position: absolute;
    opacity: 0;
}
input[type="radio"] + .labelRadio {
	display: inline-block;
	margin: 4px 0;
}
input[type="radio"] + .labelRadio:before {
		display: inline-block;
		content: "";
		height: 16px;
		width: 16px;
		padding: 0 4px;
		margin: 0px 0 -2px;
		border-radius: 100%;
		background: var(--grey-90-a10);
		border: 1px solid var(--grey-90-a30);
}

input[type="radio"]:checked + .labelRadio:before {
		background: var(--white-100);
		border: 4px solid var(--blue-60);
}

/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Photon Colors CSS Variables v3.2.0 */
html {
  --magenta-50: #ff1ad9;
  --magenta-60: #ed00b5;
  --magenta-70: #b5007f;
  --magenta-80: #7d004f;
  --magenta-90: #440027;

  --purple-30: #c069ff;
  --purple-40: #ad3bff;
  --purple-50: #9400ff;
  --purple-60: #8000d7;
  --purple-70: #6200a4;
  --purple-80: #440071;
  --purple-90: #25003e;

  --blue-40: #45a1ff;
  --blue-50: #0a84ff;
  --blue-50-a30: rgba(10, 132, 255, 0.3);
  --blue-60: #0060df;
  --blue-70: #003eaa;
  --blue-80: #002275;
  --blue-90: #000f40;

  --teal-50: #00feff;
  --teal-60: #00c8d7;
  --teal-70: #008ea4;
  --teal-80: #005a71;
  --teal-90: #002d3e;

  --green-50: #30e60b;
  --green-60: #12bc00;
  --green-70: #058b00;
  --green-80: #006504;
  --green-90: #003706;

  --yellow-50: #ffe900;
  --yellow-60: #d7b600;
  --yellow-70: #a47f00;
  --yellow-80: #715100;
  --yellow-90: #3e2800;

  --red-50: #ff0039;
  --red-60: #d70022;
  --red-70: #a4000f;
  --red-80: #5a0002;
  --red-90: #3e0200;

  --orange-50: #ff9400;
  --orange-60: #d76e00;
  --orange-70: #a44900;
  --orange-80: #712b00;
  --orange-90: #3e1300;

  --grey-10: #f9f9fa;
  --grey-10-a10: rgba(249, 249, 250, 0.1);
  --grey-10-a20: rgba(249, 249, 250, 0.2);
  --grey-10-a40: rgba(249, 249, 250, 0.4);
  --grey-10-a60: rgba(249, 249, 250, 0.6);
  --grey-10-a80: rgba(249, 249, 250, 0.8);
  --grey-20: #ededf0;
  --grey-30: #d7d7db;
  --grey-40: #b1b1b3;
  --grey-50: #737373;
  --grey-60: #4a4a4f;
  --grey-70: #38383d;
  --grey-80: #2a2a2e;
  --grey-90: #0c0c0d;
  --grey-90-a05: rgba(12, 12, 13, 0.05);
  --grey-90-a10: #e1e1e2;
  --grey-90-a20: #c9c9ca;
  --grey-90-a30: #b1b1b2;
  --grey-90-a40: rgba(12, 12, 13, 0.4);
  --grey-90-a50: rgba(12, 12, 13, 0.5);
  --grey-90-a60: rgba(12, 12, 13, 0.6);
  --grey-90-a70: rgba(12, 12, 13, 0.7);
  --grey-90-a80: rgba(12, 12, 13, 0.8);
  --grey-90-a90: rgba(12, 12, 13, 0.9);

  --ink-70: #363959;
  --ink-80: #202340;
  --ink-90: #0f1126;

  --white-100: #ffffff;
}