/* These ones are for the anchors. */
h4 {
	position: relative;
}
h4[id]:hover::after {
	cursor:pointer;
	overflow: hidden;
	white-space: break-spaces;
	animation: appear 0.5s ease-in;
	display: inline-flex;
	word-break: break-word;
	text-overflow: clip;
	position: absolute;
	--hover-opacity: 0.6;
}
h4[id]:hover::after{
	content: ' - Click to set to auto-scroll here';
}
h4[id]::before {
	content: '# ';
	opacity: 0.2;
}
h4.auto-scrolled[id]:hover::after{
	content: ' - Click to reset auto-scroll';
}
h4.auto-scrolled[id] {
	animation-name: flash;
	animation-duration: 4.5s;
	animation-fill-mode: both;
	animation-iteration-count: 1;
}
@keyframes flash {
	0%, 50%, 100% {
		opacity: 1;
	}
	25%, 75% {
		opacity: var(--hover-opacity);
	}
}
@keyframes appear {
	0%, 50% {
		opacity: 0;
	}
	100% {
		opacity: var(--hover-opacity);
	}
}

/* Some chinese definitions come with their own bg-color.
 * It totally messes up the display.
 * Remove it with this.
 */
body *:not(button):not(a) {
	background-color: unset !important;
}

ol > li:first-child {
	margin-top: 0;
}


/* New CSS Starts Here */

body {
	min-height: 400px;
	min-width: 400px;
	margin: 8px 12px 0;
}

/* Header */ 

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* ---- Definition Title & Search Bar */
#searchInput {
  font-size: 36px;
  font-weight: 200;
  margin: 0 0 8px 0;
  border-radius: 0px;
  padding: 0 32px 4px 0;
  height: auto;
  width: 100%;
  border: none;
}

/* ---- External Link to Wiktionary.org */
#externalLink {
	min-width: 32px;
	width: 32px;
	height: 32px;
	background: var(--grey-90-a10) url(../icons/externalLink.svg) no-repeat center/16px;
	margin: 0 0 0 12px;
}

/* Languages Slider */
.slider-wrapper {
	padding: 0 0 8px;
}

.slider {
	margin: 8px 0 0;
	padding: 0 12px;
	overflow-y: auto;
	max-height: 500px; /* approximate max height */
	transition-property: height margin padding;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.slider.closed {
	max-height: 0;
	border: none;
	padding: 0 12px;
	margin: 0;
}
.slider h4 {
	margin-top: 0.5em;
	margin-bottom: 0;
	border-bottom: 1px dotted rgba(128, 128, 128, 0.35); /* transparent grey */
	width: 95%;
}

.slider h4:first-child {
	margin-top: 0.3em;
}