// Layout refers to the spacing and relative positioning of elements.
//	I'll also consider it to mean whether elements are displayed.
html {
	scrollbar-width: none;
	-ms-overflow-style: none;
	::-webkit-scrollbar {
		display: none;
	}
}
// Allow selection
body:not(header):not(footer) {
	user-select: text;
	-moz-user-select: text;
}
#langButton {
	user-select: none;
	-moz-user-select: none;
}

body {
	margin: 0 12px 10px;
}
header {
	position: sticky;
	top: 0;
	padding: 10px 0;

	background-color: var(--background-colour);

	grid-column-gap: 1ex;
	grid-column-gap: 1ex;

	&.definitionPage {
		box-shadow: 0px 0px 5px 5px var(--background-colour);
	}

	&,
	& #search {
		display: grid;
		align-items: center;
		grid-template-columns: 1fr 32px;
	}

	#searchInput {
		width: 100%;
	}

	#historyBar {
		display: none;
		grid-columns: 1 / -1;

		&,
		& a {
			color: var(--text-colour-secondary);
		}
		a {
			text-decoration: underline;
			/*display: inline-block;
max-width: 25%;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;*/
		}
		#historyIcon {
			height: 1em;
			width: 1em;
			vertical-align: middle;
			margin-right: 0.5em;
			content: var(--history-image);
		}
	}
	&.hasHistory #historyBar {
		display: inline;
	}
}

.langHeadingContainer {
	display: flex;
	justify-content: space-between;
	column-gap: 1ex;
	color: var(--text-colour);
	.lang {
		flex-grow: 1;
	}
	& > .after::after {
		content: 'Set auto-scroll';
	}
	&.autoScrolled[id] > .after::after {
		content: "Autoscrolled";
	}
	&:hover.autoScrolled[id] > .after::after{
		content: 'Unset auto-scroll';
	}
}

// Text
h1 {
	font-weight: var(--font-heading-weight);
	font-size: var(--font-heading-size);
}
.langHeadingContainer {
	margin: 2.5ex 0 0.5ex;
	& > h2 {
		margin: 0;
	}
}
.langHeadingContainer + h3 {
	margin-top: 0.5ex;
}
h3 {
	margin: 1.5ex 0 1.5ex 1ex;
}
ol {
	margin: 1ex 0 2ex 0ex;
}
