// Layout refers to the spacing and relative positioning of elements.
//	I'll also consider it to mean whether elements are displayed.
html {
	scrollbar-width: none;
	-ms-overflow-style: none;
	::-webkit-scrollbar {
		display: none;
	}
}
// Allow selection
body:not(header):not(footer) {
	user-select: text;
	-moz-user-select: text;
}
#langButton {
	user-select: none;
	-moz-user-select: none;
}

body {
	margin: 0 12px 10px;
}
header {
	position: sticky;
	top: 0;
	padding: 10px 0;

	background-color: var(--background-colour);

	display: grid;
	grid-template-columns: 1fr 32px;
	&.definitionPage {
		box-shadow: 0px 5px 15px 0px var(--background-colour);
	}

	#historyBar {
		grid-columns: 1 / -1;
	}
}
#search {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 2ex;

	margin: 0 0 0.5ex;
}
#searchInput {
	width: 100%;
}
#historyBar {
	flex: 100%;
}

.langHeadingContainer {
	display: flex;
	justify-content: space-between;
	column-gap: 1ex;
	color: var(--text-colour);
	.lang {
		flex-grow: 1;
	}
	.before, .after {
		color: var(--text-colour-secondary);
		font-weight: normal;
	}
	&:hover > .after::after {
		content: 'Set auto-scroll';
	}
	&.auto-scrolled[id]:hover > .after::after{
		content: 'Unset auto-scroll';
	}
}

// Text
h1 {
	font-weight: var(--font-heading-weight);
	font-size: var(--font-heading-size);
}
h3 {
	margin: 1.5ex 0 1.5ex 1ex;
}
ol {
	margin: 1ex 0 2ex 0ex;
}
