// Layout refers to the spacing and relative positioning of elements.
//	I'll also consider it to mean whether elements are displayed.
html {
	scrollbar-width: none;
	-ms-overflow-style: none;
	::-webkit-scrollbar {
		display: none;
	}
}
// Allow selection
body:not(header):not(footer) {
	user-select: text;
	-moz-user-select: text;
}
#langButton {
	user-select: none;
	-moz-user-select: none;
}

body {
	padding: 8px 12px;
}
header,
#search {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 2ex;

	margin: 0 0 0.5ex;
}
#searchInput {
	width: 100%;
}

.langHeadingContainer {
	display: flex;
	justify-content: space-between;
	column-gap: 1ex;
	color: var(--text-colour);
	.lang {
		flex-grow: 1;
	}
	.before, .after {
		color: var(--text-colour-secondary);
		font-weight: normal;
	}
	&:hover > .after::after {
		content: 'Set auto-scroll';
	}
	&.auto-scrolled[id]:hover > .after::after{
		content: 'Unset auto-scroll';
	}
}

// Text
h1 {
	font-weight: var(--font-heading-weight);
	font-size: var(--font-heading-size);
}
h3 {
	margin: 1.5ex 0 1.5ex 1ex;
}
ol {
	margin: 1ex 0 2ex 0ex;
}
