/* Legacy Mode */

body {
	font-family: message-box;
}

#searchInput {
	background-image: url(../../icons/searchDark.svg);
}

a:any-link:hover {
	background: #FFDAB9;
	color: black;
}

html {
	--primaryColorButtonBackground: #DFA144;
	--primaryColorButtonBackgroundBusy: #000;
	--primaryColorButtonColor: var(--white-100);
	--primaryColorButtonColorHover: #000;
  --backgroundColour: #093145;
  --bodyTextColour: var(--white-100);
  --linkColour: #DFA144;
  --linkColourActive: var(--blue-50);
  --inputColour: var(--grey-90-a20);
  --inputBorderFocus: #DFA144;
  --searchInputColour: var(--white-100);
  --searchInputColourPlaceholder: var(--white-100);
  --searchInputBorder: var(--grey-10);
  --footerColour: var(--grey-40);
}