/* Light Mode */


#searchInput {
	background-image: url(../../icons/searchLight.svg);
}

html {
	--primaryColorButtonBackground: var(--blue-60);
	--primaryColorButtonBackgroundBusy: var(--blue-70);
	--primaryColorButtonColor: var(--white-100);
	--primaryColorButtonColorHover: var(--white-100);
  --backgroundColour: var(--grey-10);
  --bodyTextColour: var(--grey-90);
  --linkColour: var(--blue-60);
  --linkColourActive: var(--blue-70);
  --inputColour: var(--grey-90-a20);
  --inputBorderFocus: var(--blue-50);
  --searchInputColour: var(--grey-90);
  --searchInputColourPlaceHolder: var(--grey-90);
  --searchInputBorder: var(--grey-50);
  --footerColour: var(--grey-50);
}